.board {
    width: 60%;
    margin: 0 auto;
}
.detail_box {
    display: block;
    width: 100%;
}

.itemheader{
    width:100%;
    display: block;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
}

.title{
    width: 100%;
    font-size: 30px;
    font-weight: bold;
}

.writer{
    width: 50%;
}

.writer::after{
    margin: 0 10px;
    color: gray;
    content: '|'
}
.regDate{
    width: 50%;
    display: inline;
}

.regDate::after{
    margin: 0 10px;
    color: gray;
    content: '|'
}

.hit::after{
    margin: 0 10px;
    color: gray;
    content: '|'
}

.contents{
    display: block;
    width: 100%;
    word-break: break-all;
    padding-top: 10px;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 20px;
}


.item_btn{
    position: relative;
}

.item_btn a{
    margin-right: 10px;
}

.item_btn button {
    background-color: white;
    height: 30px;
    font-size: 18px;
    text-align: center;
    outline: none;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.list_btn{
    color: #333333;
}

.comment_btn{
    background-color: white;
    width: 100px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    color: #333333;
    outline: none;
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 20px;
    padding: 0 10px;
}

.delete_btn{
    color: red;
    float: right;
 }

 .updata_btn{
    float: right;
 }

 .comment_write{
    border-bottom: 1px solid #d9d9d9;
}